@inherits BluentUiComponentBase
@namespace Bluent.UI.Components

<div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
    @foreach (var panel in Panels)
    {
        <Button Icon="@panel.Icon" 
                Text="@(DisplayTitle ? panel.Title : null)" 
                Tooltip="@(DisplayTitle ? null : panel.Title)"
                Appearance="ButtonAppearance.Subtle" 
                OnClick="() => TogglePanel(panel)"
                Toggled="IsActive(panel)"
                Rotated="@(Orientation == Orientation.Vertical)"/>
    }
</div>