@inherits BluentUiComponentBase
@namespace Bluent.UI.Components

<div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@GetComponentStyle()">
    @if (ActivePanel is not null)
    {
        <div class="header">
            @if (ActivePanel.HeaderContent is not null)
            {
                @ActivePanel.HeaderContent
            }
            else
            {
                <Icon Content="@ActivePanel.Icon"/>
                <div class="title">@ActivePanel.Title</div>
            }
            @if (ActivePanel.MoreActionsContent is not null)
            {
                @ActivePanel.MoreActionsContent
            }
            
            <Button Tooltip="More"
                    Appearance="ButtonAppearance.Subtle"
                    Icon="icon-ic_fluent_more_vertical_20_regular"
                    ActiveIcon="icon-ic_fluent_more_vertical_20_filled"
                    Size="ButtonSize.Small">
                <Dropdown>
                    <MenuList>
                        @foreach (var name in DockNames)
                        {
                            <MenuItem Title="@name"
                                      Checked="@(name == DockName)"
                                      OnClick="() => ChangeDock(name)"/>
                        }
                        <MenuDivider />
                        @foreach (var mode in Enum.GetValues<DockMode>())
                        {
                            <MenuItem Title="@mode.ToString()"
                                      Checked="@(mode == DockMode)"
                                      OnClick="() => ChangeMode(mode)"/>
                        }
                    </MenuList>
                </Dropdown>
            </Button>
            <Button Tooltip="Close"
                    Appearance="ButtonAppearance.Subtle"
                    Icon="icon-ic_fluent_dismiss_20_regular"
                    ActiveIcon="icon-ic_fluent_dismiss_20_filled"
                    Size="ButtonSize.Small"
                    OnClick="Deactivate"/>
        </div>
        <div class="content">
            @ActivePanel.ChildContent
        </div>
    }
</div>