@inherits BluentComponentBase
@namespace Bluent.UI.Components

<span @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
    @if (!string.IsNullOrEmpty(DisplayInitial))
    {
        <span class="initials">@DisplayInitial</span>
    }
    @if (!string.IsNullOrEmpty(Icon))
    {
        <i class="icon @Icon"></i>
    }
    @if (!string.IsNullOrEmpty(ImageSource))
    {
        <img class="image" src="@ImageSource" onerror='this.style.display = "none"' />
    }
</span>