@inherits BluentComponentBase
@namespace Bluent.UI.Components

<div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style" @onclick="OnClick">
    @if (!string.IsNullOrEmpty(DisplayInitials))
    {
        <span class="initials">@DisplayInitials</span>
    }
    @if (!string.IsNullOrEmpty(Icon))
    {
        <Icon Content="@Icon" Class="icon"></Icon>
    }
    @if (!string.IsNullOrEmpty(ImageSource))
    {
        <img class="image" src="@ImageSource" onerror='this.style.display = "none"' />
    }
</div>