@page "/components/action-cards"
@namespace Bluent.UI.Demo.Pages.Components
@using System.Globalization
<PageTitle>Action cards</PageTitle>

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Action cards</h1>

        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <ActionCard Icon="icon-ic_fluent_globe_location_20_regular"
                        Title="Regional format"
                        Description="Windows and some apps format dates and times based on your regional format">
                <HeaderAction>
                    <SelectField @bind-Value="_selectedCulture" Style="width: 100px">
                        @foreach (var culture in _cultures)
                        {
                            <option value="@culture.Name">@culture.DisplayName</option>
                        }
                    </SelectField>
                </HeaderAction>
            </ActionCard>
        </section>

        <h3>Expandable</h3>
        <section class="p-7 rounded-5 shadow-3">
            <ActionCard Icon="icon-ic_fluent_globe_location_20_regular"
                        Title="Regional format"
                        Description="Windows and some apps format dates and times based on your regional format">
                <HeaderAction>
                    <SelectField @bind-Value="_selectedCulture" Style="width: 100px">
                        @foreach (var culture in _cultures)
                        {
                            <option value="@culture.Name">@culture.DisplayName</option>
                        }
                    </SelectField>
                </HeaderAction>
                <ChildContent>
                    <table class="m-5 " cellpadding="5px">
                        <tr>
                            <td class="caption1Stronger">Regional Format:</td>
                            <td class="caption1">@SelectedCulture.Name</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">Calendar:</td>
                            <td class="caption1">@SelectedCulture.Calendar.GetType().Name</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">First day of week:</td>
                            <td class="caption1">@SelectedCulture.DateTimeFormat.FirstDayOfWeek</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">Short date:</td>
                            <td class="caption1">@DateTime.Today.ToString(SelectedCulture.DateTimeFormat.ShortDatePattern)</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">Long date:</td>
                            <td class="caption1">@DateTime.Today.ToString(SelectedCulture.DateTimeFormat.LongDatePattern)</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">Short time:</td>
                            <td class="caption1">@DateTime.Now.ToString(SelectedCulture.DateTimeFormat.ShortTimePattern)</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">Long time:</td>
                            <td class="caption1">@DateTime.Now.ToString(SelectedCulture.DateTimeFormat.LongTimePattern)</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">Standard digits:</td>
                            <td class="caption1">@((1234567890).ToString(SelectedCulture))</td>
                        </tr>
                    </table>
                </ChildContent>
            </ActionCard>
        </section>

        <h3>Expandable (Deferred Loading)</h3>
        <section class="p-7 rounded-5 shadow-3">
            <ActionCard Icon="icon-ic_fluent_globe_location_20_regular"
                        Title="Regional format"
                        Description="Windows and some apps format dates and times based on your regional format"
                        DeferredLoading>
                <HeaderAction>
                    <SelectField @bind-Value="_selectedCulture" Style="width: 100px">
                        @foreach (var culture in _cultures)
                        {
                            <option value="@culture.Name">@culture.DisplayName</option>
                        }
                    </SelectField>
                </HeaderAction>
                <ChildContent>
                    <table class="m-5 " cellpadding="5px">
                        <tr>
                            <td class="caption1Stronger">Regional Format:</td>
                            <td class="caption1">@SelectedCulture.Name</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">Calendar:</td>
                            <td class="caption1">@SelectedCulture.Calendar.GetType().Name</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">First day of week:</td>
                            <td class="caption1">@SelectedCulture.DateTimeFormat.FirstDayOfWeek</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">Short date:</td>
                            <td class="caption1">@DateTime.Today.ToString(SelectedCulture.DateTimeFormat.ShortDatePattern)</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">Long date:</td>
                            <td class="caption1">@DateTime.Today.ToString(SelectedCulture.DateTimeFormat.LongDatePattern)</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">Short time:</td>
                            <td class="caption1">@DateTime.Now.ToString(SelectedCulture.DateTimeFormat.ShortTimePattern)</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">Long time:</td>
                            <td class="caption1">@DateTime.Now.ToString(SelectedCulture.DateTimeFormat.LongTimePattern)</td>
                        </tr>
                        <tr>
                            <td class="caption1Stronger">Standard digits:</td>
                            <td class="caption1">@((1234567890).ToString(SelectedCulture))</td>
                        </tr>
                    </table>
                </ChildContent>
            </ActionCard>
        </section>

        <h3>Link</h3>
        <section class="p-7 rounded-5 shadow-3">
            <ActionCard Icon="icon-ic_fluent_globe_location_20_regular"
                        Title="Regional format"
                        Description="Windows and some apps format dates and times based on your regional format"
                        Href="/components/action-cards?#Links">
            </ActionCard>
        </section>

        <h3>Group</h3>
        <section class="p-7 rounded-5 shadow-3">
            <ActionCardGroup>
                <ActionCard Icon="icon-ic_fluent_globe_location_20_regular"
                            Title="Regional format"
                            Description="Windows and some apps format dates and times based on your regional format"
                            Href="/components/action-cards?#Links">
                </ActionCard>
                <ActionCard Icon="icon-ic_fluent_globe_location_20_regular"
                            Title="Regional format"
                            Description="Windows and some apps format dates and times based on your regional format">
                    <HeaderAction>
                        <SelectField @bind-Value="_selectedCulture" Style="width: 100px">
                            @foreach (var culture in _cultures)
                            {
                                <option value="@culture.Name">@culture.DisplayName</option>
                            }
                        </SelectField>
                    </HeaderAction>
                </ActionCard>
                <ActionCard Icon="icon-ic_fluent_globe_location_20_regular"
                            Title="Regional format"
                            Description="Windows and some apps format dates and times based on your regional format">
                    <HeaderAction>
                        <SelectField @bind-Value="_selectedCulture" Style="width: 100px">
                            @foreach (var culture in _cultures)
                            {
                                <option value="@culture.Name">@culture.DisplayName</option>
                            }
                        </SelectField>
                    </HeaderAction>
                    <ChildContent>
                        <table class="m-5 " cellpadding="5px">
                            <tr>
                                <td class="caption1Stronger">Regional Format:</td>
                                <td class="caption1">@SelectedCulture.Name</td>
                            </tr>
                            <tr>
                                <td class="caption1Stronger">Calendar:</td>
                                <td class="caption1">@SelectedCulture.Calendar.GetType().Name</td>
                            </tr>
                            <tr>
                                <td class="caption1Stronger">First day of week:</td>
                                <td class="caption1">@SelectedCulture.DateTimeFormat.FirstDayOfWeek</td>
                            </tr>
                            <tr>
                                <td class="caption1Stronger">Short date:</td>
                                <td class="caption1">@DateTime.Today.ToString(SelectedCulture.DateTimeFormat.ShortDatePattern)</td>
                            </tr>
                            <tr>
                                <td class="caption1Stronger">Long date:</td>
                                <td class="caption1">@DateTime.Today.ToString(SelectedCulture.DateTimeFormat.LongDatePattern)</td>
                            </tr>
                            <tr>
                                <td class="caption1Stronger">Short time:</td>
                                <td class="caption1">@DateTime.Now.ToString(SelectedCulture.DateTimeFormat.ShortTimePattern)</td>
                            </tr>
                            <tr>
                                <td class="caption1Stronger">Long time:</td>
                                <td class="caption1">@DateTime.Now.ToString(SelectedCulture.DateTimeFormat.LongTimePattern)</td>
                            </tr>
                            <tr>
                                <td class="caption1Stronger">Standard digits:</td>
                                <td class="caption1">@((1234567890).ToString(SelectedCulture))</td>
                            </tr>
                        </table>
                    </ChildContent>
                </ActionCard>
            </ActionCardGroup>
        </section>

    </div>
</div>

@code {
    private IEnumerable<CultureInfo> _cultures = Enumerable.Empty<CultureInfo>();
    private string _selectedCulture = CultureInfo.CurrentCulture.Name;
    private CultureInfo SelectedCulture => CultureInfo.GetCultureInfo(_selectedCulture);

    protected override void OnInitialized()
    {
        _cultures = CultureInfo.GetCultures(CultureTypes.AllCultures);
        base.OnInitialized();
    }
}
