@page "/components/menus"
@namespace Bluent.UI.Demo.Pages.Components

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Menu List</h1>
        <p>
            A menu list displays a list of actions. It is usually rendered inside of the Menu component.
        </p>
        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <MenuList>
                <MenuItem Title="Undo" Icon="icon-ic_fluent_arrow_undo_20_regular" ActiveIcon="icon-ic_fluent_arrow_undo_20_filled" />
                <MenuItem Title="Redo" Icon="icon-ic_fluent_arrow_redo_20_regular" ActiveIcon="icon-ic_fluent_arrow_redo_20_filled" />
                <MenuDivider />
                <MenuItem Title="Cut" Icon="icon-ic_fluent_cut_20_regular" ActiveIcon="icon-ic_fluent_cut_20_filled" />
                <MenuItem Title="Paste" Icon="icon-ic_fluent_copy_20_regular" ActiveIcon="icon-ic_fluent_copy_20_filled" />
                <MenuItem Title="Edit" Icon="icon-ic_fluent_clipboard_paste_20_regular" ActiveIcon="icon-ic_fluent_clipboard_paste_20_filled" />
                <MenuDivider />
                <MenuItem Title="Help" Icon="icon-ic_fluent_question_circle_20_regular" ActiveIcon="icon-ic_fluent_question_circle_20_filled" href="http://google.com" target="_blank" />
            </MenuList>
        </section>

        <h3>Disabled Items</h3>
        <section class="p-7 rounded-5 shadow-3">
            <MenuList>
                <MenuItem Title="Undo" Icon="icon-ic_fluent_arrow_undo_20_regular" ActiveIcon="icon-ic_fluent_arrow_undo_20_filled" Disabled />
                <MenuItem Title="Redo" Icon="icon-ic_fluent_arrow_redo_20_regular" ActiveIcon="icon-ic_fluent_arrow_redo_20_filled" Disabled />
                <MenuDivider />
                <MenuItem Title="Cut" Icon="icon-ic_fluent_cut_20_regular" ActiveIcon="icon-ic_fluent_cut_20_filled" Disabled />
                <MenuItem Title="Paste" Icon="icon-ic_fluent_copy_20_regular" ActiveIcon="icon-ic_fluent_copy_20_filled" />
                <MenuItem Title="Edit" Icon="icon-ic_fluent_clipboard_paste_20_regular" ActiveIcon="icon-ic_fluent_clipboard_paste_20_filled" />
                <MenuDivider />
                <MenuItem Title="Help" Icon="icon-ic_fluent_question_circle_20_regular" ActiveIcon="icon-ic_fluent_question_circle_20_filled" href="http://google.com" target="_blank" />
            </MenuList>
        </section>

        <h3>Item Groups</h3>
        <section class="p-7 rounded-5 shadow-3">
            <MenuList>
                <MenuItemGroup Title="History">
                    <MenuItem Title="Undo" Icon="icon-ic_fluent_arrow_undo_20_regular" ActiveIcon="icon-ic_fluent_arrow_undo_20_filled" />
                    <MenuItem Title="Redo" Icon="icon-ic_fluent_arrow_redo_20_regular" ActiveIcon="icon-ic_fluent_arrow_redo_20_filled" Disabled />
                </MenuItemGroup>
                <MenuItemGroup Title="Editing">
                    <MenuItem Title="Cut" Icon="icon-ic_fluent_cut_20_regular" ActiveIcon="icon-ic_fluent_cut_20_filled" />
                    <MenuItem Title="Paste" Icon="icon-ic_fluent_copy_20_regular" ActiveIcon="icon-ic_fluent_copy_20_filled" />
                    <MenuItem Title="Edit" Icon="icon-ic_fluent_clipboard_paste_20_regular" ActiveIcon="icon-ic_fluent_clipboard_paste_20_filled" />
                </MenuItemGroup>
                <MenuDivider />
                <MenuItem Title="Help" Icon="icon-ic_fluent_question_circle_20_regular" ActiveIcon="icon-ic_fluent_question_circle_20_filled" href="http://google.com" target="_blank" />
            </MenuList>
        </section>

        <h3>Menu button</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Menu>
                <Trigger>
                    <Button Text="Example menu" />
                </Trigger>
                <Items>
                    <MenuItem Title="Undo" Checked Icon="icon-ic_fluent_arrow_undo_20_regular" ActiveIcon="icon-ic_fluent_arrow_undo_20_filled" OnClick="@(()=>{ _lastMenuItem = "Undo"; })" />
                    <MenuItem Title="Redo" Icon="icon-ic_fluent_arrow_redo_20_regular" ActiveIcon="icon-ic_fluent_arrow_redo_20_filled" OnClick="@(()=>{ _lastMenuItem = "Redo"; })" />
                    <MenuDivider />
                    <MenuItem Title="Cut" Icon="icon-ic_fluent_cut_20_regular" ActiveIcon="icon-ic_fluent_cut_20_filled" OnClick="@(()=>{ _lastMenuItem = "Cut"; })" />
                    <MenuItem Title="Paste" Icon="icon-ic_fluent_copy_20_regular" ActiveIcon="icon-ic_fluent_copy_20_filled" OnClick="@(()=>{ _lastMenuItem = "Paste"; })" />
                    <MenuItem Title="Edit" Icon="icon-ic_fluent_clipboard_paste_20_regular" ActiveIcon="icon-ic_fluent_clipboard_paste_20_filled" OnClick="@(()=>{ _lastMenuItem = "Edit"; })" />
                    <MenuItem Title="Find & Replace">
                        <MenuList>
                            <MenuItem Title="Quick find" OnClick="@(()=>{ _lastMenuItem = "Quick find"; })" />
                            <MenuItem Title="Quick replace" OnClick="@(()=>{ _lastMenuItem = "Quick replace"; })" />
                            <MenuItem Title="Files">
                                <MenuList>
                                    <MenuItem Title="Find in files" OnClick="@(()=>{ _lastMenuItem = "Find in files"; })" />
                                    <MenuItem Title="Replace in files" OnClick="@(()=>{ _lastMenuItem = "Replace in files"; })" />
                                </MenuList>
                            </MenuItem>
                            <MenuItem Title="More...">
                                <MenuList>
                                    <MenuItem Title="More 1" OnClick="@(()=>{ _lastMenuItem = "More 1"; })" />
                                    <MenuItem Title="More 2" OnClick="@(()=>{ _lastMenuItem = "More 2"; })" />
                                </MenuList>
                            </MenuItem>
                        </MenuList>
                    </MenuItem>
                </Items>
            </Menu>

            <div>Last clicked item: @_lastMenuItem</div>
        </section>

    </div>
</div>

@code {
    string? _lastMenuItem;
}
