@namespace Bluent.UI.Components
@inherits BluentUiComponentBase

<li @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
    <a href="@Href" target="@Target">
        @if (!string.IsNullOrEmpty(Icon))
        {
            @if(!string.IsNullOrEmpty(ActiveIcon))
            {
                <Icon Class="active-icon" Content="@ActiveIcon" />
            }
            <Icon Class="icon" Content="@Icon"/>
        }
        <div class="title">
            @Title
        </div>
    </a>
</li>
@if (!IsCurrent)
{
    <li class="seperator">
        <Icon Class="icon" Content="icon-ic_fluent_chevron_right_20_regular" />
    </li>
}