@namespace Bluent.UI.Components
@inherits BluentComponentBase

<div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
    <div class="header" @onclick="ClickHandler">
        <div class="expander">
            <i class="icon-ic_fluent_chevron_right_20_regular"></i>
        </div>
        @if (!string.IsNullOrEmpty(HeaderIcon))
        {
            <Icon Content="@HeaderIcon" Class="icon" />
        }
        <div class="title">@Header</div>
        @if (HeaderAction != null)
        {
            <div class="action">@HeaderAction</div>
        }
    </div>
    @if (!DeferredLoading || Expanded)
    {
        <div class="panel @PanelClasses">
            <CascadingValue Value="this" IsFixed>
                @ChildContent
            </CascadingValue>
        </div>
    }
</div>
