@namespace Bluent.UI.Components
@inherits BluentFieldComponentBase<string>

<div class="@GetComponentClass()" style="@Style">
    @if (StartAddon != null)
    {
        <div class="start-addon">
            @StartAddon
        </div>
    }

    @if (Rows == null)
    {
        <input @attributes=GetInputAdditionalAttributes()
               @ref=Element
               id="@GetInputId()"
               name="@NameAttributeValue"
               @bind-value="CurrentValueAsString" 
               @bind-value:event="@BindValueEvent" />
    }
    else
    {
        <textarea @attributes=GetInputAdditionalAttributes()
                  @ref=Element
                  id="@GetInputId()"
                  name="@NameAttributeValue"
                  rows="@Rows"
                  @bind-value="CurrentValueAsString"
                  @bind-value:event="@BindValueEvent"></textarea>
    }

    @if (EndAddon != null)
    {
        <div class="end-addon">
            @EndAddon
        </div>
    }
</div>
