@namespace Bluent.UI.Components
@using Bluent.UI.Components.OverflowComponent
@inherits BluentUiComponentBase

<div id="@GetOverflowId()" class="@string.Join(' ', GetOverflowClasses())">
 
    <CascadingValue Value="this" IsFixed>
        <CascadingValue Value="@(new OverflowRenderContext(false))" IsFixed>
            @ChildContent
        </CascadingValue>
    </CascadingValue>
    <Popover @ref="_overflowPopover" Placement="@(Orientation == Orientation.Horizontal ? Placement.BottomEnd : Placement.RightStart)" KeepSurface>
        <Trigger>
            <Button Icon="icon-ic_fluent_more_horizontal_20_regular"
                    ActiveIcon="icon-ic_fluent_more_horizontal_20_filled"
                    ShowDropdownIndicator="false"
                    Appearance="ButtonAppearance.Transparent"
                    Class="overflow-button align-self-center" />
        </Trigger>
        <Surface>
            <MenuList Class="overflow-menu">
                <CascadingValue Value="this" IsFixed>
                    <CascadingValue Value="@(new OverflowRenderContext(true))" IsFixed>
                        @ChildContent
                    </CascadingValue>
                </CascadingValue>
            </MenuList>
        </Surface>
    </Popover>
</div>
