@namespace Bluent.UI.Components
@using Microsoft.AspNetCore.Components.Web.Virtualization
@inherits BluentUiComponentBase
@typeparam TValue

<Popover @ref="_popover" DisplayArrow="false" Placement="DropdownPlacement">
    <Trigger>
        <div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
            @if (!Options.Any())
            {
                <div class="select">
                    <div class="text">@EmptyMessage</div>
                </div>
            }
            else if (Options.Count() == 1)
            {
                <div class="select">
                    <div class="text">@Options.ElementAt(0).Text</div>
                </div>
                @if (CanClear)
                {
                    <Button Appearance="ButtonAppearance.Transparent"
                            Size="ButtonSize.Small"
                            Icon="icon-ic_fluent_dismiss_20_regular"
                            ActiveIcon="icon-ic_fluent_dismiss_20_filled"
                            OnClick="() => ClearOption.InvokeAsync(Options.ElementAt(0).Value)" />
                }
            }
            else
            {
                <div class="select" @onclick:stopPropagation="true">
                    @foreach (var item in Options)
                    {
                        <Tag Title="@item.Text" Dismissable OnDismiss="() => ClearOption.InvokeAsync(item.Value)" />
                    }
                </div>
            }
            <Icon Content="icon-ic_fluent_chevron_down_20_regular" />
        </div>
    </Trigger>
    <Surface>
        @Dropdown
    </Surface>
</Popover>