@using Bluent.UI.Components.SplitPanelComponent.Internal
@inherits BluentUiComponentBase
@namespace Bluent.UI.Components
<CascadingValue Value="this" IsFixed>
    <div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
        @if (Header is not null)
        {
            <SplitPanel SplitArea="SplitArea.Header">@Header</SplitPanel>
            @if (CanResizeHeader)
            {
                <PanelResizer SplitArea="SplitArea.Header"/>
            }
        }

        @if (Top is not null)
        {
            <SplitPanel SplitArea="SplitArea.Top">@Top</SplitPanel>
            @if (CanResizeTop)
            {
                <PanelResizer SplitArea="SplitArea.Top"/>
            }
        }

        @if (Start is not null)
        {
            <SplitPanel SplitArea="SplitArea.Start">@Start</SplitPanel>
            @if (CanResizeStart)
            {
                <PanelResizer SplitArea="SplitArea.Start"/>
            }
        }

        @if (StartSide is not null)
        {
            <SplitPanel SplitArea="SplitArea.StartSide">@StartSide</SplitPanel>
            @if (CanResizeStartSide)
            {
                <PanelResizer SplitArea="SplitArea.StartSide"/>
            }
        }

        @if (Center is not null)
        {
            <SplitPanel SplitArea="SplitArea.Center">@Center</SplitPanel>
        }

        @if (End is not null)
        {
            <SplitPanel SplitArea="SplitArea.End">@End</SplitPanel>
            @if (CanResizeEnd)
            {
                <PanelResizer SplitArea="SplitArea.End"/>
            }
        }

        @if (EndSide is not null)
        {
            <SplitPanel SplitArea="SplitArea.EndSide">@EndSide</SplitPanel>
            @if (CanResizeEndSide)
            {
                <PanelResizer SplitArea="SplitArea.EndSide"/>
            }
        }

        @if (Bottom is not null)
        {
            <SplitPanel SplitArea="SplitArea.Bottom">@Bottom</SplitPanel>
            @if (CanResizeBottom)
            {
                <PanelResizer SplitArea="SplitArea.Bottom"/>
            }
        }

        @if (Footer is not null)
        {
            <SplitPanel SplitArea="SplitArea.Footer">@Footer</SplitPanel>
            @if (CanResizeFooter)
            {
                <PanelResizer SplitArea="SplitArea.Footer"/>
            }
        }
    </div>
</CascadingValue>