<div class="options" style="transform: translate(@(Pan.Dx)px, @(Pan.Dy)px) scale(@Scale)">
    <div style="left: @(Shape.Boundary.Right + 10)px; top: @(Shape.Boundary.Y)px; padding: 5px;">
        <CascadingValue Value="Shape" IsFixed>
            @Shape.SelectionOptions
        </CascadingValue>
    </div>
</div>