@inherits BluentComponentBase
@namespace Bluent.UI.Components

<li @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style"
    @onclick:stopPropagation="true"
    @onmouseenter:stopPropagation="true"
    @onmouseleave:stopPropagation="true">
    <div class="layout" @onclick="ItemClickHandler" @onmouseenter="MouseEnterHandler" @onmouseleave="MouseLeaveHandler">
        <div class="expander" @onclick:stopPropagation="true">
            @if (HasSubItems)
            {
                <i @onclick="ExpanderClickHandler" class="icon icon-ic_fluent_chevron_right_20_regular"></i>
            }
        </div>

        @if (Tree.CheckboxMode != TreeCheckboxMode.None)
        {
            var checkState = GetCheckState();

            <div class="check-wrapper" @onclick:stopPropagation="true">
                @if (_mouseEntered || checkState != false || DisableCheckBox)
                {
                    <Checkbox TValue=bool?
                              Value="checkState"
                              ValueChanged="CheckboxCheckedHandler"
                              ValueExpression="()=>IsChecked"
                              Circular="Tree.CircularCheckboxes"
                              disabled="@DisableCheckBox" />
                }
            </div>
        }

        @if (!string.IsNullOrEmpty(Icon))
        {
            @if (!string.IsNullOrEmpty(ExpandedIcon))
            {
                <Icon Content="@ExpandedIcon" Class="expanded-icon" />
            }
            <Icon Content="@Icon" Class="icon" />
        }

        <div class="title">
            @Title
        </div>
    </div>
    @if (ChildContent != null)
    {
        <CascadingValue Value="this" IsFixed>
            <ul class="item-group">
                @ChildContent
            </ul>
        </CascadingValue>
    }
</li>
