@inherits BluentUiComponentBase
@namespace Bluent.UI.Components

<li @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style"
    @onclick:stopPropagation="true"
    @onmouseenter:stopPropagation="true"
    @onmouseleave:stopPropagation="true">
    <div class="layout @GetLayoutClasses()"
         draggable="@(IsDraggable.ToString().ToLower())"
         @ondragover:preventDefault="CanDrop"
         @ondragenter="OnDragEnter"
         @ondragleave="OnDragLeave"
         @ondragstart="OnDragStarted"
         @ondragend="OnDragEnded"
         @ondrop="OnDropAsync"
         @onclick="ItemClickHandler"
         @onmouseenter="MouseEnterHandler"
         @onmouseleave="MouseLeaveHandler">
        

        @* <div class="order-drop before @(_dragOverBefore ? "over" : "")" *@
        @*      @ondragover:preventDefault="CanDrop" *@
        @*      @ondragenter="OnDragEnterBefore" *@
        @*      @ondragleave="OnDragLeaveBefore"> *@
        @*     <div class="indicator"></div> *@
        @*     <div class="line"></div> *@
        @* </div> *@
        
        <div class="expander" @onclick:stopPropagation="true">
            @if (HasSubItems)
            {
                <i @onclick="ExpanderClickHandler" class="icon icon-ic_fluent_chevron_right_20_regular"></i>
            }
        </div>

        @if (Tree.CheckboxMode != TreeCheckboxMode.None)
        {
            var checkState = GetCheckState();

            <div class="check-wrapper" @onclick:stopPropagation="true">
                @if (_mouseEntered || checkState != false || DisableCheckBox)
                {
                    <Checkbox TValue=bool?
                              Value="checkState"
                              ValueChanged="CheckboxCheckedHandler"
                              ValueExpression="() => IsChecked"
                              Circular="Tree.CircularCheckboxes"
                              disabled="@DisableCheckBox"/>
                }
            </div>
        }

        @if (!string.IsNullOrEmpty(Icon))
        {
            @if (!string.IsNullOrEmpty(ExpandedIcon))
            {
                <Icon Content="@ExpandedIcon" Class="expanded-icon"/>
            }

            <Icon Content="@Icon" Class="icon"/>
        }

        @if (ItemTemplate != null)
        {
            <div class="item-content" @onclick="OnClick">
                @ItemTemplate
            </div>
        }
        else if (string.IsNullOrEmpty(Href))
        {
            <div class="item-content" @onclick="OnClick">
                @Title
            </div>
        }
        else
        {
            <a class="item-content" href="@Href" @onclick="OnClick" target="@Target">
                @Title
            </a>
        }
        @if (_dndStarted && Tree.Orderable && !IsDragging && IsSibling)
        {
            <div class="order-drop after @(_dragOverAfter ? "over" : "")"
                 @ondrop="OnDropAfterAsync"
                 @ondrop:stopPropagation="true"
                 @ondragover:preventDefault="true"
                 @ondragenter="OnDragEnterAfter"
                 @ondragleave="OnDragLeaveAfter">
                <div class="indicator"></div>
                <div class="line"></div>
            </div>
        }
    </div>
    @if (ChildContent != null)
    {
        <CascadingValue Value="this" IsFixed>
            <ul class="item-group">
                @ChildContent
            </ul>
        </CascadingValue>
    }
</li>
