@using Bluent.UI.Extensions
@using Humanizer
@if (HasTypeRegistry(PropertyType))
{
    <RegisteredPropertyTypeEditor Object="Object" 
                                  Property="Property" 
                                  LabelWidth="LabelWidth"
                                  ValueUpdated="ValueUpdated"/>
}
else if (EditorProvider.GetEditorComponentType(Property) != null)
{
    <DynamicComponent Type="@EditorProvider.GetEditorComponentType(Property)"
                      Parameters="GetDynamicEditorParameters()"/>
}
else if (IsComplexType)
{
    if (IsEnumerable)
    {
        <div class="editor-row">
            <Bluent.UI.Components.Label Text="@Property.GetDisplayName()" 
                                        Style="@($"width: {LabelWidth}px;")"
                                        for="@Property.Name"/>
            <div>Enumerable</div>
        </div>
    }
    else
    {
        <ComplexTypeEditor Object="Object" 
                           Property="Property" 
                           ValueUpdated="ValueUpdated"/>
    }
}
else
{
    <div class="editor-row">
        <Bluent.UI.Components.Label Text="@Property.GetDisplayName().Humanize(LetterCasing.Sentence)" 
                                    Style="@($"width: {LabelWidth}px;")"
                                    for="@Property.Name"/>

        @if (!IsEditable())
        {
            <div>@Property.GetValue(Object)?.ToString()</div>
        }
        else if (PropertyType.GetUnderlyingType() == typeof(string))
        {
            <TextPropertyEditor Property="Property" Object="Object" ValueUpdated="ValueUpdated"/>
        }
        else if (PropertyType.GetUnderlyingType() == typeof(int))
        {
            <NumericPropertyEditor TValue="int" Property="Property" Object="Object" ValueUpdated="ValueUpdated"/>
        }
        else if (PropertyType.GetUnderlyingType() == typeof(double))
        {
            <NumericPropertyEditor TValue="double" Property="Property" Object="Object" ValueUpdated="ValueUpdated"/>
        }
        else if (PropertyType.GetUnderlyingType() == typeof(bool))
        {
            <BoolPropertyEditor Property="Property" Object="Object" ValueUpdated="ValueUpdated"/>
        }
        else if (PropertyType.IsEnum)
        {
            <EnumPropertyEditor Property="Property" Object="Object" ValueUpdated="ValueUpdated"/>
        }
    </div>
}
