@page "/components/lists"
@using Bluent.Core
@using Bluent.Core
@using Bluent.UI.Demo.Pages.Components.ViewModels
<PageTitle>Lists</PageTitle>

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Lists</h1>

        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <ItemsList>
                <ListItem Text="My files" Icon="icon-ic_fluent_folder_20_regular" ActiveIcon="icon-ic_fluent_folder_20_filled"></ListItem>
                <ListItem Text="Recent" Icon="icon-ic_fluent_history_20_regular" ActiveIcon="icon-ic_fluent_history_20_filled" Selected></ListItem>
                <ListItem Text="Shared" Icon="icon-ic_fluent_people_20_regular" ActiveIcon="icon-ic_fluent_people_20_filled"></ListItem>
                <ListItem Text="Recycle bin" Icon="icon-ic_fluent_bin_recycle_20_regular" ActiveIcon="icon-ic_fluent_bin_recycle_20_filled"></ListItem>
            </ItemsList>
        </section>

        <h3>Multiselect</h3>
        <section class="p-7 rounded-5 shadow-3">
            <ItemsList SelectionMode="SelectionMode.Multiple" SelectedItemsChanged="SelectedItemsChanged">
                <ListItem Text="Books" Icon="icon-ic_fluent_book_20_regular" ActiveIcon="icon-ic_fluent_book_20_filled"></ListItem>
                <ListItem Text="Computers" Icon="icon-ic_fluent_desktop_20_regular" ActiveIcon="icon-ic_fluent_desktop_20_filled"></ListItem>
                <ListItem Text="Cars" Icon="icon-ic_fluent_vehicle_car_20_regular" ActiveIcon="icon-ic_fluent_vehicle_car_20_filled" Selected></ListItem>
                <ListItem Text="Animals" Icon="icon-ic_fluent_animal_dog_20_regular" ActiveIcon="icon-ic_fluent_animal_dog_20_filled"></ListItem>
            </ItemsList>

            <Card Class="mt-3">
                <CardContent>
                    Selected Items: @(_selectedItems ?? "No selection")
                </CardContent>
            </Card>
        </section>

        <h3>No selection</h3>
        <section class="p-7 rounded-5 shadow-3">
            <ItemsList SelectionMode="SelectionMode.None">
                <ListItem Text="Books" Icon="icon-ic_fluent_book_20_regular" ActiveIcon="icon-ic_fluent_book_20_filled"></ListItem>
                <ListItem Text="Computers" Icon="icon-ic_fluent_desktop_20_regular" ActiveIcon="icon-ic_fluent_desktop_20_filled"></ListItem>
                <ListItem Text="Cars" Icon="icon-ic_fluent_vehicle_car_20_regular" ActiveIcon="icon-ic_fluent_vehicle_car_20_filled"></ListItem>
                <ListItem Text="Animals" Icon="icon-ic_fluent_animal_dog_20_regular" ActiveIcon="icon-ic_fluent_animal_dog_20_filled"></ListItem>
            </ItemsList>
        </section>

        <h3>No icon</h3>
        <section class="p-7 rounded-5 shadow-3">
            <ItemsList>
                <ListItem Text="Books"></ListItem>
                <ListItem Text="Computers"></ListItem>
                <ListItem Text="Cars"></ListItem>
                <ListItem Text="Animals"></ListItem>
            </ItemsList>
        </section>

        <h3>Mixed icon</h3>
        <section class="p-7 rounded-5 shadow-3">
            <ItemsList>
                <ListItem Text="Books" Icon="icon-ic_fluent_book_20_regular" ActiveIcon="icon-ic_fluent_book_20_filled"></ListItem>
                <ListItem Text="Computers"></ListItem>
                <ListItem Text="Cars" Icon="icon-ic_fluent_vehicle_car_20_regular" ActiveIcon="icon-ic_fluent_vehicle_car_20_filled"></ListItem>
                <ListItem Text="Animals"></ListItem>
            </ItemsList>
        </section>

        <h3>Navigation</h3>
        <section class="p-7 rounded-5 shadow-3">
            <ItemsList>
                <ListItem Text="Github" Href="https://github.com" target="_blank"></ListItem>
                <ListItem Text="Microsoft" Href="https://microsoft.com" target="_blank"></ListItem>
                <ListItem Text="Google" Href="https://google.com" target="_blank"></ListItem>
                <ListItem Text="Apple" Href="https://apple.com" target="_blank"></ListItem>
                <ListItem Text="Bluent Lists" Href="/components/lists" Match="NavLinkMatch.All"></ListItem>
                <ListItem Text="Bluent Lists 1" Href="/components/lists?id=item1" Match="NavLinkMatch.All"></ListItem>
                <ListItem Text="Bluent Lists 2" Href="/components/lists?id=item2" Match="NavLinkMatch.All"></ListItem>
            </ItemsList>
        </section>

        <h3>Custom content</h3>
        <section class="p-7 rounded-5 shadow-3">
            <ItemsList>
                <ListItem>
                    <div class="d-flex gap-3 justify-content-center">
                        <Avatar Initials="MM" AutoColor />
                        <div>
                            <div style="font-weight: var(--fontWeightBold);">Meeting notes</div>
                            <div class="fst-italic">Max Mustermann</div>
                        </div>
                    </div>
                </ListItem>
                <ListItem>
                    <div class="d-flex gap-3 justify-content-center">
                        <Avatar Initials="JD" AutoColor />
                        <div>
                            <div style="font-weight: var(--fontWeightBold);">Purchase order</div>
                            <div class="fst-italic">Jane Doe</div>
                        </div>
                    </div>
                </ListItem>
                <ListItem>
                    <div class="d-flex gap-3 justify-content-center">
                        <Avatar Initials="EM" AutoColor />
                        <div>
                            <div style="font-weight: var(--fontWeightBold);">Thursday presentation</div>
                            <div class="fst-italic">Erika Mustermann</div>
                        </div>
                    </div>
                </ListItem>
                <ListItem>
                    <div class="d-flex gap-3 justify-content-center">
                        <Avatar Initials="JD" AutoColor />
                        <div>
                            <div style="font-weight: var(--fontWeightBold);">Training recording</div>
                            <div class="fst-italic">John Doe</div>
                        </div>
                    </div>
                </ListItem>
            </ItemsList>
        </section>

        <h3>Accordion Integration</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Accordion>
                <AccordionPanel Header="Category 1">
                    <ItemsList>
                        <ListItem Text="Github" Href="https://github.com" target="_blank"></ListItem>
                        <ListItem Text="Microsoft" Href="https://microsoft.com" target="_blank"></ListItem>
                        <ListItem Text="Google" Href="https://google.com" target="_blank"></ListItem>
                        <ListItem Text="Apple" Href="https://apple.com" target="_blank"></ListItem>
                    </ItemsList>
                </AccordionPanel>
                <AccordionPanel Header="Category 2">
                    <ItemsList>
                        <ListItem Text="Bluent Lists" Href="/components/lists" Match="NavLinkMatch.All"></ListItem>
                        <ListItem Text="Bluent Lists 1" Href="/components/lists?id=item1" Match="NavLinkMatch.All"></ListItem>
                        <ListItem Text="Bluent Lists 2" Href="/components/lists?id=item2" Match="NavLinkMatch.All"></ListItem>
                    </ItemsList>
                </AccordionPanel>
            </Accordion>
        </section>

        <h3>Data List</h3>
        <section class="p-7 rounded-5 shadow-3">
            <DataList ItemsProvider="LoadData"
                      @bind-SelectedData=_selectedDataListItems
                      SelectionMode="SelectionMode.Multiple"
                      Style="height: 200px;"
                      Class="overflow-auto"
                      ItemKey="item => item.Id">
                <ItemTemplate>
                    <div class="d-flex align-items-center w-100">
                        <div class="flex-fill">
                            <div>@context.FirstName @context.LastName</div>
                            <div>@context.Birthdate</div>
                        </div>
                        <div>
                            <Button Icon="icon-ic_fluent_more_horizontal_20_regular" ActiveIcon="icon-ic_fluent_more_horizontal_20_filled" Appearance="ButtonAppearance.Transparent" />
                        </div>
                    </div>
                </ItemTemplate>
            </DataList>
            <Card Class="mt-3">
                <CardContent>
                    Selected Items:
                    <ul>
                        @foreach (var item in _selectedDataListItems)
                        {
                            <li>@(item.FirstName) @(item.LastName)</li>
                        }
                    </ul>
                </CardContent>
            </Card>

        </section>
    </div>
</div>

@code {
    string? _selectedItems;
    List<DataGridSampleModel> _selectedDataListItems = new();
    private IEnumerable<DataGridSampleModel> _dataSource = DataGridSampleModel.LoadSample(1000);

    private void SelectedItemsChanged(IEnumerable<ListItem> items)
    {
        _selectedItems = string.Join(", ", items.Select(x => x.Text));
    }

    private ValueTask<ItemsProviderResult<DataGridSampleModel>> LoadData(ItemsProviderRequest request)
    {
        var data = _dataSource.Skip(request.StartIndex).Take(request.Count);

        var result = new ItemsProviderResult<DataGridSampleModel>(data, _dataSource.Count());

        return ValueTask.FromResult(result);
    }

}
