@page "/components/menus"

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Menu List</h1>
        <p>
            A menu list displays a list of actions. It is usually rendered inside of the Menu component.
        </p>
        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <MenuList>
                <MenuItem Title="Cut" />
                <MenuItem Title="Paste" />
                <MenuItem Title="Edit" />
            </MenuList>
        </section>

        <h3>Menu button</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Menu>
                <Trigger>
                    <Button Text="Example menu" />
                </Trigger>
                <Items>
                    <MenuItem Title="Cut" OnClick="@(()=>{ _lastMenuItem = "Cut"; })" />
                    <MenuItem Title="Paste" OnClick="@(()=>{ _lastMenuItem = "Paste"; })" />
                    <MenuItem Title="Edit" OnClick="@(()=>{ _lastMenuItem = "Edit"; })" />
                    <MenuItem Title="Find & Replace">
                        <MenuList>
                            <MenuItem Title="Quick find" OnClick="@(()=>{ _lastMenuItem = "Quick find"; })" />
                            <MenuItem Title="Quick replace" OnClick="@(()=>{ _lastMenuItem = "Quick replace"; })" />
                            <MenuItem Title="Files">
                                <MenuList>
                                    <MenuItem Title="Find in files" OnClick="@(()=>{ _lastMenuItem = "Find in files"; })" />
                                    <MenuItem Title="Replace in files" OnClick="@(()=>{ _lastMenuItem = "Replace in files"; })" />
                                </MenuList>
                            </MenuItem>
                            <MenuItem Title="More...">
                                <MenuList>
                                    <MenuItem Title="More 1" OnClick="@(()=>{ _lastMenuItem = "More 1"; })" />
                                    <MenuItem Title="More 2" OnClick="@(()=>{ _lastMenuItem = "More 2"; })" />
                                </MenuList>
                            </MenuItem>
                        </MenuList>
                    </MenuItem>
                </Items>
            </Menu>

            <div>Last clicked item: @_lastMenuItem</div>
        </section>

    </div>
</div>

@code {
    string? _lastMenuItem;
}
