@page "/components/stacks"
<PageTitle>Stacks</PageTitle>

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Stacks</h1>

        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <div class="mb-4">
                <Label Text="Orientation" Class="d-block" />
                <SelectField @bind-Value="_orientation">
                    @foreach (var item in Enum.GetValues<Orientation>())
                    {
                        <option value="@item">@item</option>
                    }
                </SelectField>
            </div>
            <div class="mb-4">
                <Label Text="Vertical Alignment" Class="d-block" />
                <SelectField @bind-Value="_verticalAlignment">
                    @foreach (var item in Enum.GetValues<StackAlignment>())
                    {
                        <option value="@item">@item</option>
                    }
                </SelectField>
            </div>
            <div class="mb-4">
                <Label Text="Horizontal Alignment" Class="d-block" />
                <SelectField @bind-Value="_horizontalAlignment">
                    @foreach (var item in Enum.GetValues<StackAlignment>())
                    {
                        <option value="@item">@item</option>
                    }
                </SelectField>
            </div>
            <Stack Orientation="_orientation"
                   VerticalAlignment="_verticalAlignment"
                   HorizontalAlignment="_horizontalAlignment"
                   Class="border border-2 gap-5 p-5"
                   Style="width: 400px; height: 300px;">
                <div class="color-red p-5">
                    Item 1
                </div>
                <div class="color-green p-5">
                    Item 2
                </div>
                <div class="color-blue p-5">
                    Item 3
                </div>
            </Stack>
        </section>
    </div>
</div>

@code {
    private Orientation _orientation = Orientation.Horizontal;
    private StackAlignment _verticalAlignment = StackAlignment.Start;
    private StackAlignment _horizontalAlignment = StackAlignment.Start;
}
