@namespace Bluent.UI.Components
@inherits BluentUiComponentBase

<label for="@GetPropertyName()" @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
    @GetDisplayName()
    @if(Info != null)
    {
        <Popover Placement="Placement.TopStart">
            <Trigger>
                <Button Icon="icon-ic_fluent_info_20_regular" ActiveIcon="icon-ic_fluent_info_20_filled" Appearance="ButtonAppearance.Transparent"></Button>
            </Trigger>
            <Surface>
                @Info
            </Surface>
        </Popover>
    }
    @if (IsRequired)
    {
        <span class="required">@RequiredSymbol</span>
    }
</label>
